<html>

		<head>
	<link rel="stylesheet" href="bookstore.css">
<script type="text/javascript" src="bookstore.js"></script>
			<title>Online BookStore</title>
		</head>
	<body>
		<header class="header">
			<div class="btn1" >
			<img
				src="book-tree-520x520.jpg"
				class="homeimg" onclick="clickimage()" />
				<h1>
					<center>Online BookStore</center>
				</h1>
				<a href="home.html" ><button class="mybtn">Home</button></a>
			</div>
		</header>
		<hr>
		<body class="background">
             
				<form action="#" method="post">
				<div>
				 <h2>
					<center>Books in the Cart</center>
				</h2>
					<table class = "books" >
						<tr>
							
							<th>Title</th>
							<th>Price</th>
						</tr>
						</table>
						<h5>The Total amount is : </h5><br>
						<a href="billing.html"  class="mybtn" >Check Out</a>
						<button type="button" onclick="cancelBooking()" id="cancelButton"class="mybtn">Back</button>
					</div>
				</form>

    </body>
</html>
